<div id="page-transitions">
    
<div class="page-preloader page-preloader-dark">
    <img class="page-preload" src="assets/preload.gif">
</div>
   
<div class="header header-dark">
    <a href="#" class="header-icon-1 show-left-sidebar"><i class="fa fa-navicon"></i></a>
    <a href="#" class="header-logo"></a>
    <a href="#" class="header-icon-4 show-right-sidebar"><i class="fa fa-envelope-o"></i></a>
</div>


  <div id="page-content" class="page-content">
      <div id="page-content-scroll">       
          </div>
          
          <div class="content">
              
              <div class="page-blog">
                  <!-- POST 1-->
                  <div class="page-blog-list">
                              <div class="blog-post-comment-add">
							<h1>Editing Post</h1>

							<%= render 'form' %>

							<%= link_to 'Show', @post %> |
							<%= link_to 'Back', posts_path %>
						</div>
					</div>
				</div>
			</div>

