
<div class="sidebar-right">
    <div class="sidebar-scroll-right sidebar-dark-clean">     
        <div class="sidebar-image">
            <h3>Let's get in touch!</h3>
            <em>Send a message or follow our socials</em>
            <div class="sidebar-overlay"></div>
            <img src="assets/pictures/3.jpg" alt="img" class="responsive-image">
        </div>  
        <div class="sidebar-divider no-bottom"></div>
        <p class="sidebar-divider">Let's get social</p>
        <div class="sidebar-menu">
            <a class="default-link menu-item" href="https://www.facebook.com/enabled.labs">
                <i class="fa fa-facebook facebook-color"></i>
                <em>Facebook</em>
            </a>                   
            <a class="default-link menu-item" href="https://twitter.com/iEnabled">
                <i class="fa fa-twitter twitter-color"></i>
                <em>Twitter</em>
            </a>                 
            <a class="default-link menu-item" href="https://plus.google.com/u/1/100477648973116025417/posts">
                <i class="fa fa-google-plus google-color"></i>
                <em>Google Plus</em>
            </a>                    
            <a class="default-link menu-item" href="#">
                <i class="fa fa-youtube-play youtube-color"></i>
                <em>YouTube</em>
            </a>    
        </div>
        
        <p class="sidebar-divider">Admins Section</p>
        <div class="sidebar-menu">
            <a class="default-link menu-item" href="users/sign_in">
                <i class="fa fa-users bg-magenta-dark"></i>
                <em>Admin panel</em>
            </a>   
            <a class="menu-item close-sidebar" href="#">
                <i class="fa fa-times bg-red-dark"></i>
                <em>Close</em>
                <i class="fa fa-circle"></i>
            </a>
        </div>
    </div>
</div>